@page "/"

@using SBShared.Models  
@using SBSender.Data.Services
@inject IQueueService queue 

<EditForm Model="@person" OnValidSubmit="@PublishMessage">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label for="firstname"> First Name</label>
        <InputText id="firstName" class="form-control" @bind-Value="person.Firstname"/>
    </div>

        <div class="form-group">
        <label for="lastName"> Last Name</label>
        <InputText id="lastName" class="form-control" @bind-Value="person.Lastname"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit request</button>
</EditForm>

@code{
    private PersonModel person = new PersonModel();

    private async Task PublishMessage()
    {
        await queue.SendMessageAsync(person, "personqueue");
        person = new PersonModel();
    }
}